 <!-- Box -->
 <div class="col-4 col-12-medium">
    <section class="box feature">
        <a href="/{{slug}}" class="image featured"><img src="/images/pic01.jpg" alt="" /></a>
        <div class="inner">
            <header>
                <h2>{{name}}</h2>
                <h3> {{city}}, <span>&nbsp;</span> {{state}} </h4>
            </header>
            <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
        </div>
    </section>
</div>