<!DOCTYPE html>
<html dir="ltr" lang="en-US">

	{{>head}}

	<body class="container">
		<div id="header-wrapper">
			<header id="header" class="container">
				{{>logo}}
				{{>nav}}
			<h1>
				{{name}}
				{{city}}
				{{state}}
			</h1>
		<h3>Find your new home</h3>
	{{>footer}} {{>scripts}}
	</body>

</html>
