<!DOCTYPE html>
<html dir="ltr" lang="en-US">

	{{>head}}

	<body class="container">
		<div id="header-wrapper">
			<header id="header" class="container">
				{{>logo}}
				{{>nav}}
			</header>
		</div>

		{{>banner}}
		{{>features}}

		{{>footer}}
		{{>scripts}}
	</body>


</html>
